.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1358.3em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-conner-left:before {
      background-position: 0em 0em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-conner-right:before {
      background-position: 0em -49.2em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-down:before {
      background-position: 0em -98.5em;
      width: 49.1996em;
      height: 49.1996em;
  }




  .icon.arrow-left:before {
      background-position: 0em -147.7em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -196.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -246.2em;
      width: 49.2002em;
      height: 49.2002em;
  }




  .icon.calendar:before {
      background-position: 0em -295.5em;
      width: 47.7867em;
      height: 47.7867em;
  }




  .icon.cancel:before {
      background-position: 0em -343.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.card:before {
      background-position: 0em -394.5em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -396.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.cat-daily:before {
      background-position: 0em -448em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.chat:before {
      background-position: 0em -450.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.checked:before {
      background-position: 0em -452.8em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.clip:before {
      background-position: 0em -502em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -553.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.close:before {
      background-position: 0em -604.4em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.copy:before {
      background-position: 0em -653.6em;
      width: 2.1em;
      height: 2.4em;
  }




  .icon.delete:before {
      background-position: 0em -656em;
      width: 1.8em;
      height: 2.1em;
  }




  .icon.diskette:before {
      background-position: 0em -658.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.download:before {
      background-position: 0em -709.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.edit:before {
      background-position: 0em -760.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.exit:before {
      background-position: 0em -762.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.filter:before {
      background-position: 0em -765.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.home:before {
      background-position: 0em -767.7em;
      width: 47.7846em;
      height: 47.7846em;
  }




  .icon.info:before {
      background-position: 0em -815.5em;
      width: 33em;
      height: 33em;
  }




  .icon.like:before {
      background-position: 0em -848.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.location:before {
      background-position: 0em -850.9em;
      width: 1.8393000000000002em;
      height: 2.3039em;
  }




  .icon.lock:before {
      background-position: 0em -853.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.login:before {
      background-position: 0em -855.7em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.mail:before {
      background-position: 0em -859em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.menu:before {
      background-position: 0em -910.2em;
      width: 1.7601em;
      height: 1.56em;
  }




  .icon.minus:before {
      background-position: 0em -911.8em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.more:before {
      background-position: 0em -958.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.navigation:before {
      background-position: 0em -961.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.pay-apple:before {
      background-position: 0em -963.5em;
      width: 5.6em;
      height: 2.4em;
  }




  .icon.pay-google:before {
      background-position: 0em -965.9em;
      width: 5.8em;
      height: 2.3em;
  }




  .icon.pay-master:before {
      background-position: 0em -968.2em;
      width: 3.9em;
      height: 2.1em;
  }




  .icon.pay-mir:before {
      background-position: 0em -970.3em;
      width: 5.3em;
      height: 1.5em;
  }




  .icon.pay-visa:before {
      background-position: 0em -971.8em;
      width: 5.2em;
      height: 1.6em;
  }




  .icon.phone:before {
      background-position: 0em -973.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.phone-call:before {
      background-position: 0em -975.8em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.play:before {
      background-position: 0em -1023.2em;
      width: 49.4148em;
      height: 49.4148em;
  }




  .icon.plus:before {
      background-position: 0em -1072.7em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.plus-round:before {
      background-position: 0em -1117.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.question:before {
      background-position: 0em -1119.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.reload:before {
      background-position: 0em -1122.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.repeat:before {
      background-position: 0em -1124.7em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.search:before {
      background-position: 0em -1126.9em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.soc-fb:before {
      background-position: 0em -1129.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-inst-light:before {
      background-position: 0em -1131.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1134em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram-light:before {
      background-position: 0em -1136.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1138.8em;
      width: 2.2em;
      height: 1.8em;
  }




  .icon.soc-viber:before {
      background-position: 0em -1140.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1143em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp:before {
      background-position: 0em -1145.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp-light:before {
      background-position: 0em -1147.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.star:before {
      background-position: 0em -1150.2em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.star-empty:before {
      background-position: 0em -1201.3em;
      width: 47.7899em;
      height: 47.7899em;
  }




  .icon.tick--color:before {
      background-position: 0em -1249.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.transport:before {
      background-position: 0em -1300.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.upload:before {
      background-position: 0em -1302.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.user:before {
      background-position: 0em -1353.9em;
      width: 1.9738em;
      height: 1.9738em;
  }




  .icon.view:before {
      background-position: 0em -1355.9em;
      width: 2.4em;
      height: 2.4em;
  }





