.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1320.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.010-add:before {
      background-position: 0em 0em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-conner-left:before {
      background-position: 0em -49.2em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-conner-right:before {
      background-position: 0em -98.4em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-down:before {
      background-position: 0em -147.7em;
      width: 49.1996em;
      height: 49.1996em;
  }




  .icon.arrow-left:before {
      background-position: 0em -196.9em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -246.1em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -295.4em;
      width: 49.2002em;
      height: 49.2002em;
  }




  .icon.calendar:before {
      background-position: 0em -344.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cancel:before {
      background-position: 0em -347.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.card:before {
      background-position: 0em -398.3em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -400.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.cat-daily:before {
      background-position: 0em -451.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.chat:before {
      background-position: 0em -454.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.checked:before {
      background-position: 0em -456.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.clip:before {
      background-position: 0em -459em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -510.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.close:before {
      background-position: 0em -561.4em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.close-round:before {
      background-position: 0em -610.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.copy:before {
      background-position: 0em -613em;
      width: 2.1em;
      height: 2.4em;
  }




  .icon.delete:before {
      background-position: 0em -615.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.download:before {
      background-position: 0em -617.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.edit:before {
      background-position: 0em -669em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.exit:before {
      background-position: 0em -671.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.filter:before {
      background-position: 0em -673.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.heart:before {
      background-position: 0em -676.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.home:before {
      background-position: 0em -727.4em;
      width: 47.7846em;
      height: 47.7846em;
  }




  .icon.info:before {
      background-position: 0em -775.2em;
      width: 33em;
      height: 33em;
  }




  .icon.like:before {
      background-position: 0em -808.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.location:before {
      background-position: 0em -810.6em;
      width: 1.8393000000000002em;
      height: 2.3039em;
  }




  .icon.lock:before {
      background-position: 0em -813em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.login:before {
      background-position: 0em -815.4em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.mail:before {
      background-position: 0em -818.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.menu:before {
      background-position: 0em -869.9em;
      width: 1.7601em;
      height: 1.56em;
  }




  .icon.minus:before {
      background-position: 0em -871.5em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.more:before {
      background-position: 0em -918.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.navigation:before {
      background-position: 0em -920.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.pay-apple:before {
      background-position: 0em -923.2em;
      width: 5.6em;
      height: 2.4em;
  }




  .icon.pay-google:before {
      background-position: 0em -925.6em;
      width: 5.8em;
      height: 2.3em;
  }




  .icon.pay-master:before {
      background-position: 0em -927.9em;
      width: 3.9em;
      height: 2.1em;
  }




  .icon.pay-mir:before {
      background-position: 0em -930em;
      width: 5.3em;
      height: 1.5em;
  }




  .icon.pay-visa:before {
      background-position: 0em -931.5em;
      width: 5.2em;
      height: 1.6em;
  }




  .icon.phone:before {
      background-position: 0em -933.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.phone-call:before {
      background-position: 0em -935.5em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.play:before {
      background-position: 0em -982.9em;
      width: 49.4148em;
      height: 49.4148em;
  }




  .icon.plus:before {
      background-position: 0em -1032.4em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.plus-round:before {
      background-position: 0em -1077.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.profile:before {
      background-position: 0em -1079.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.question:before {
      background-position: 0em -1082em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.reload:before {
      background-position: 0em -1084.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.repeat:before {
      background-position: 0em -1086.8em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.search:before {
      background-position: 0em -1089em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.soc-fb:before {
      background-position: 0em -1091.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-inst-light:before {
      background-position: 0em -1093.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1096.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram-light:before {
      background-position: 0em -1098.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1100.9em;
      width: 2.2em;
      height: 1.8em;
  }




  .icon.soc-viber:before {
      background-position: 0em -1102.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1105.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp:before {
      background-position: 0em -1107.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp-light:before {
      background-position: 0em -1109.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.star:before {
      background-position: 0em -1112.3em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.star-empty:before {
      background-position: 0em -1163.4em;
      width: 47.7899em;
      height: 47.7899em;
  }




  .icon.tick--color:before {
      background-position: 0em -1211.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.transport:before {
      background-position: 0em -1262.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.upload:before {
      background-position: 0em -1264.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.user:before {
      background-position: 0em -1316em;
      width: 1.9738em;
      height: 1.9738em;
  }




  .icon.view:before {
      background-position: 0em -1318em;
      width: 2.4em;
      height: 2.4em;
  }





