font('Nunito-Regular','Nunito', 400)
font('Nunito-Bold','Nunito', 700)
$font = 'Nunito', sans-serif

//$windowSize = (xl lg md sm)
$windowSize = ("xl" 1280),\
							("lg" 1024),\
							("md" 768),\
							("sm" 480)

//Extends size
$listExtend = (4),\
							(8),\
							(10),\
							(12),\
							(16),\
							(24 16),\
							(32 24),\
							(48 32 24),\
							(64 48 24),\
							(80 64 32),\
							(100 68 36)

//padding percent
$paddingPercent = (10 20 30 50)

//Grid gap size
$gridGap = (4),\
					(8),\
					(12),\
					(16),\
					(20 16),\
					(24 16),\
					(32 24)

$listType = ("xs" 12 10),\
						("sm" 14 12),\
						("main" 16 16),\
						("md" 20 18),\
						("mdx" 24 20),\
						("lg" 32 24),\
						("lgx" 44 32),\
						("xl" 64 44)

//Icon size
$listIcon = ("xs" 12),\
						("sm" 16),\
						("md" 20),\
						("mdx" 24),\
						("lg" 32),\
						("lgx" 44),\
						("xl" 64)

//Border radius
$listBr = (4 8 12 16 20 24 32 44 64)

//Font weight
$listFw = (300 400 500 600 700 900)

//width-max container size
$listWmax = (500 545 640 820 1320)

//color
$mark = #6b33b2
$green = #a9d96b
$linkColor = black

$grayPrimary = #565762
$gray = #adaeb9
$grayLight = #c4c5cc
$graySnow = #f1f2f6

$white = white
$violet = #6b33b2
$orange = #ff7b27
$blue = #0065bd
$red = #ff4f4f
$coralLight = #fff0f0
$yellow = #ffa800

//TYPOGRAPHY COLORS
$typeMain = black
$typePrimary = #5c5e6e
$typeSecondary = #9699a8
$typeDisable = #c8cad4

//UI COLORS
$borderHover = #bfc0c9
$fieldBackground = #f1f2f6
$border = $border-color = #dcdfe8
$overlay = rgba(32, 34, 44, 0.5)

//STATE COLORS
$stateErrorBG = #ffe1e6
$stateError = #d00025

$stateSuccessBG = #edfdd9
$stateSuccess = #5da600

$stateWarningBG = #ffedd8
$stateWarning = #ff8a00

$colors = {
	'mark':$mark,
	'green':$green,
	'white':$white,
	'grayPrimary':$grayPrimary,
	'gray':$gray,
	'grayLight':$grayLight,
	'graySnow':$graySnow,
	'violet':$violet,
	'orange':$orange,
	'blue':$blue,
	'red':$red,
	'typePrimary':$typePrimary,
	'typeSecondary':$typeSecondary,
	'typeDisable':$typeDisable,
	'stateErrorBG':$stateErrorBG,
	'stateError':$stateError,
	'stateSuccessBG':$stateSuccessBG,
	'stateSuccess':$stateSuccess,
	'stateWarningBG':$stateWarningBG,
	'stateWarning':$stateWarning,
}
