// Flex state items
$flexState = ("f-aic" "align-items" center),\
							("f-aife" "align-items" flex-end),\
							("f-aifs" "align-items" flex-start),\
							("f-asfs" "align-self" flex-start),\
							("f-asfe" "align-self" flex-end),\
							("f-asc" "align-self" center),\
							("f-jcsb" "justify-content" space-between),\
							("f-jcc" "justify-content" center),\
							("f-jcfe" "justify-content" flex-end),\
							("f-jcfs" "justify-content" flex-start),\
							("f-grow" "flex-grow" 1),\
							("fw" "flex-wrap" wrap),\
							("f-col" "flex-direction" column),\
							("f-row" "flex-direction" row)

for $flexStateItem in $flexState
	.{$flexStateItem[0]}
		{$flexStateItem[1]} $flexStateItem[2]
	for $windowSizeItem in $windowSize
		.{$windowSizeItem[0]}__{$flexStateItem[0]}
			@media only screen and (max-width: $windowSizeItem[1]px)
				{$flexStateItem[1]} $flexStateItem[2]

.f-mid
	align-items center
	justify-content center

.f-between
	align-items center
	justify-content space-between

// Flex state items === end


generateStyle(generateStyleItem)
	for $displayItem in generateStyleItem
		.{$displayItem[0]}
			{$displayItem[1]} $displayItem[2]
		for $windowSizeItem in $windowSize
			.{$windowSizeItem[0]}__{$displayItem[0]}
				@media only screen and (max-width: $windowSizeItem[1]px)
					{$displayItem[1]} $displayItem[2]

// Display
$display = ("f" "display" flex),\
						("g" "display" grid),\
						("g-afc" "grid-auto-flow" column),\
						("g-afr" "grid-auto-flow" row),\
						("dif" "display" inline-flex),\
						("dig" "display" inline-grid),\
						("db" "display" block),\
						("di" "display" inline),\
						("dib" "display" inline-block)

$position = ("pos-r" "position" relative),\
						("pos-a" "position" absolute),\
						("pos-s" "position" static),\
						("pos-f" "position" fixed)

$objectFit = ("obj-f" "object-fit" fill),\
							("obj-c" "object-fit" contain),\
							("obj-cov" "object-fit" cover),\
							("obj-none" "object-fit" none)

$objectPosition = ("obj-pos-t" "object-position" top),\
							("obj-pos-r" "object-position" right),\
							("obj-pos-b" "object-position" bottom),\
							("obj-pos-left" "object-position" left)

generateStyle($display)
generateStyle($position)
generateStyle($objectFit)
generateStyle($objectPosition)
// Display === end