// FLEX
.fw
	flex-wrap wrap

.f-col
	flex-direction column

.f-row
	flex-direction row

.f-mid
	align-items center
	justify-content center

.f-aic
	align-items center

.f-aife
	align-items: flex-end

.f-aifs
	align-items: flex-start

.f-between
	align-items center
	justify-content space-between

.f-jcsb
	justify-content space-between

.f-jcc
	justify-content center

.f-jcfe
	justify-content flex-end

.f-jcfs
	justify-content flex-start

.f-asfs
	align-self: flex-start

.f-asfe
	align-self: flex-end

.f-asc
	align-self: center

.f-grow
	flex-grow 1

// FLEX === end


// Display
.f
	display: flex

.g
	display: grid

.dif
	display: inline-flex

.db
	display block

.di
	display: inline

.dib
	display inline-block

.pos-r
	position relative

.pos-a
	position absolute

.pos-f
	position: fixed

// Display === end

// Flex order
for $item in (1..8)
	.order-{$item}
		order $item
	for $windowSizeItem in $windowSize
		.{$windowSizeItem[0]}__order-{$item}
			@media only screen and (max-width: $windowSizeItem[1]px)
				order $item
// Flex order === end

// Visible mobile
for $windowSizeItem in $windowSize
	.{$windowSizeItem[0]}__hide
		@media only screen and (max-width: $windowSizeItem[1]px)
			display none!important
	.{$windowSizeItem[0]}__snow
		@media only screen and (min-width: $windowSizeItem[1]px)
			display block
// Visible mobile === end

