.g
	display: grid

.f
	display: flex

.dif
	display: inline-flex

.fw
	flex-wrap wrap

.f-col
	flex-direction column

.f-row
	flex-direction row

.f-mid
	align-items center
	justify-content center

.f-aic
	align-items center

.f-aife
	align-items: flex-end

.f-aifs
	align-items: flex-start

.f-between
	align-items center
	justify-content space-between

.f-jcsb
	justify-content space-between

.f-jcc
	justify-content center

.f-jcfe
	justify-content flex-end

.f-jcfs
	justify-content flex-start
