include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			h1 Главная страница
			.f.f-aic
				.btn.btn--md.btn--mark.js-modal(data-modal="order") купить
	+footer()
	+modal()
include ./block_html/_script.pug
