include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		//content her
		.main-cont
			.g.g-4.gap-20.md__gap-4
				.bg--blue.p-24
				.bg--blue.p-24
				.bg--blue.p-24
				.bg--blue.p-24
			.f.f-gap-24.mt-48
				.w70.text
					.type--44.lg__type--12.lg__type--right Что такое барщина и оброк
					p Крестьяне – это сельское население, занятое в сельскохозяйственном производстве. Первоначально это были свободные земледельцы. В раннем Средневековье они попали в экономическую и политическую зависимость от феодалов. Именно крестьяне являются основой всего русского народа.

					p По самой распространённой версии, слово «крестьянин» произошло от слова «христианин» в старорусском произношении. Главное отличие крестьянина от фермера состоит в том, что он живёт, главным образом, натуральным хозяйством и бо́льшую часть сельхозпродукции выращивает не на продажу, а потребляет в своей семье и отдаёт феодалу.
					h2 Что такое оброк
					p Оброк – одна из форм феодальной ренты, платёж феодалу в денежной либо в натуральной форме. Он взимался помещиками с крестьян, как арендная плата за пользование землёй.

					p При оброчной системе повинностей крестьяне имели возможность сами распоряжаться своим временем. В этом смысле они были более свободными, чем те, кто отрабатывал свою повинность барщиной. Они были меньше привязаны к земле, поэтому могли заработать и «на вольных хлебах» – различными промыслами, извозом и прочими видами деятельности, не обязательно связанными с сельским хозяйством. Основная часть государственных крестьян несли оброчную форму повинности.
				.w30
					.f.f-gap-20.f-aic
						.pos-r.md__w30.p-10p.w30.br-12.overflow--hidden
							img(src="img/img-1.jpg", alt="").img-size.pos-a.obj-cov.obj-pos-t
						.md__w70.w70
							.type--w700 Версальско-Вашингтонская Система Кратко.
	+footer()
	+modal()
include ./block_html/_script.pug
