include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.type--xl.type--w700.mb-32 Сотрудничество
			.f.fw.f-jcsb.gap-32
				.w60.md__w100
					.text
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolores ex fugiat, inventore itaque nobis optio placeat quas quibusdam repellat soluta tempore ullam unde vel, vitae voluptates. Ipsum, iste?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque beatae consequuntur cumque dolorem hic in iure laboriosam nemo numquam optio, perferendis quae unde voluptas voluptatum. A eligendi perferendis quis saepe voluptate. A adipisci atque ea, nesciunt nisi veritatis voluptatibus? Amet dicta eum ex impedit laboriosam maiores quam sed, voluptas?
				.w30.md__w100
					.type--mdx.type--w700.mb-12 Вопросы
					a(href="#").type--mark.db.mb-32 mail@mail.ru

					.type--mdx.type--w700.mb-12 Телефон
					a(href="#").type--mark +7(499)323-23-61
	+footer()
	+modal()
include ./block_html/_script.pug
