include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		//content her
		.main-cont
			.f.fw.space
				.shadow-md.shadow-h-md.br-8.tr.p-24.f.f-mid.icon-h--gray.icon--mark
					+icon("close","icon icon--sm")
	+footer()
	+modal()
include ./block_html/_script.pug
