.m-4 {
  margin: 4px;
}
@media only screen and (max-width: 1024px) {
  .m-4 {
    margin: 4px;
  }
}
@media only screen and (max-width: 640px) {
  .m-4 {
    margin: 4px;
  }
}
.m-8 {
  margin: 8px;
}
@media only screen and (max-width: 1024px) {
  .m-8 {
    margin: 8px;
  }
}
@media only screen and (max-width: 640px) {
  .m-8 {
    margin: 8px;
  }
}
.m-10 {
  margin: 10px;
}
@media only screen and (max-width: 1024px) {
  .m-10 {
    margin: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .m-10 {
    margin: 10px;
  }
}
.m-12 {
  margin: 12px;
}
@media only screen and (max-width: 1024px) {
  .m-12 {
    margin: 12px;
  }
}
@media only screen and (max-width: 640px) {
  .m-12 {
    margin: 12px;
  }
}
.m-16 {
  margin: 16px;
}
@media only screen and (max-width: 1024px) {
  .m-16 {
    margin: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .m-16 {
    margin: 16px;
  }
}
.m-24 {
  margin: 24px;
}
@media only screen and (max-width: 1024px) {
  .m-24 {
    margin: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .m-24 {
    margin: 16px;
  }
}
.m-24 {
  margin: 24px;
}
@media only screen and (max-width: 1024px) {
  .m-24 {
    margin: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .m-24 {
    margin: 16px;
  }
}
.m-32 {
  margin: 32px;
}
@media only screen and (max-width: 1024px) {
  .m-32 {
    margin: 24px;
  }
}
@media only screen and (max-width: 640px) {
  .m-32 {
    margin: 24px;
  }
}
.m-48 {
  margin: 48px;
}
@media only screen and (max-width: 1024px) {
  .m-48 {
    margin: 32px;
  }
}
@media only screen and (max-width: 640px) {
  .m-48 {
    margin: 24px;
  }
}
.m-64 {
  margin: 64px;
}
@media only screen and (max-width: 1024px) {
  .m-64 {
    margin: 48px;
  }
}
@media only screen and (max-width: 640px) {
  .m-64 {
    margin: 24px;
  }
}
.m-80 {
  margin: 80px;
}
@media only screen and (max-width: 1024px) {
  .m-80 {
    margin: 64px;
  }
}
@media only screen and (max-width: 640px) {
  .m-80 {
    margin: 32px;
  }
}
.m-100 {
  margin: 100px;
}
@media only screen and (max-width: 1024px) {
  .m-100 {
    margin: 68px;
  }
}
@media only screen and (max-width: 640px) {
  .m-100 {
    margin: 36px;
  }
}
.p-4 {
  padding: 4px;
}
@media only screen and (max-width: 1024px) {
  .p-4 {
    padding: 4px;
  }
}
@media only screen and (max-width: 640px) {
  .p-4 {
    padding: 4px;
  }
}
.p-8 {
  padding: 8px;
}
@media only screen and (max-width: 1024px) {
  .p-8 {
    padding: 8px;
  }
}
@media only screen and (max-width: 640px) {
  .p-8 {
    padding: 8px;
  }
}
.p-10 {
  padding: 10px;
}
@media only screen and (max-width: 1024px) {
  .p-10 {
    padding: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .p-10 {
    padding: 10px;
  }
}
.p-12 {
  padding: 12px;
}
@media only screen and (max-width: 1024px) {
  .p-12 {
    padding: 12px;
  }
}
@media only screen and (max-width: 640px) {
  .p-12 {
    padding: 12px;
  }
}
.p-16 {
  padding: 16px;
}
@media only screen and (max-width: 1024px) {
  .p-16 {
    padding: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .p-16 {
    padding: 16px;
  }
}
.p-24 {
  padding: 24px;
}
@media only screen and (max-width: 1024px) {
  .p-24 {
    padding: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .p-24 {
    padding: 16px;
  }
}
.p-24 {
  padding: 24px;
}
@media only screen and (max-width: 1024px) {
  .p-24 {
    padding: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .p-24 {
    padding: 16px;
  }
}
.p-32 {
  padding: 32px;
}
@media only screen and (max-width: 1024px) {
  .p-32 {
    padding: 24px;
  }
}
@media only screen and (max-width: 640px) {
  .p-32 {
    padding: 24px;
  }
}
.p-48 {
  padding: 48px;
}
@media only screen and (max-width: 1024px) {
  .p-48 {
    padding: 32px;
  }
}
@media only screen and (max-width: 640px) {
  .p-48 {
    padding: 24px;
  }
}
.p-64 {
  padding: 64px;
}
@media only screen and (max-width: 1024px) {
  .p-64 {
    padding: 48px;
  }
}
@media only screen and (max-width: 640px) {
  .p-64 {
    padding: 24px;
  }
}
.p-80 {
  padding: 80px;
}
@media only screen and (max-width: 1024px) {
  .p-80 {
    padding: 64px;
  }
}
@media only screen and (max-width: 640px) {
  .p-80 {
    padding: 32px;
  }
}
.p-100 {
  padding: 100px;
}
@media only screen and (max-width: 1024px) {
  .p-100 {
    padding: 68px;
  }
}
@media only screen and (max-width: 640px) {
  .p-100 {
    padding: 36px;
  }
}
.ms-4 {
  margin: 4px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-4 {
    margin: 4px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-4 {
    margin: 4px 0;
  }
}
.ms-8 {
  margin: 8px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-8 {
    margin: 8px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-8 {
    margin: 8px 0;
  }
}
.ms-10 {
  margin: 10px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-10 {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-10 {
    margin: 10px 0;
  }
}
.ms-12 {
  margin: 12px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-12 {
    margin: 12px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-12 {
    margin: 12px 0;
  }
}
.ms-16 {
  margin: 16px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-16 {
    margin: 16px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-16 {
    margin: 16px 0;
  }
}
.ms-24 {
  margin: 24px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-24 {
    margin: 16px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-24 {
    margin: 16px 0;
  }
}
.ms-24 {
  margin: 24px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-24 {
    margin: 16px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-24 {
    margin: 16px 0;
  }
}
.ms-32 {
  margin: 32px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-32 {
    margin: 24px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-32 {
    margin: 24px 0;
  }
}
.ms-48 {
  margin: 48px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-48 {
    margin: 32px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-48 {
    margin: 24px 0;
  }
}
.ms-64 {
  margin: 64px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-64 {
    margin: 48px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-64 {
    margin: 24px 0;
  }
}
.ms-80 {
  margin: 80px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-80 {
    margin: 64px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-80 {
    margin: 32px 0;
  }
}
.ms-100 {
  margin: 100px 0;
}
@media only screen and (max-width: 1024px) {
  .ms-100 {
    margin: 68px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ms-100 {
    margin: 36px 0;
  }
}
.ps-4 {
  padding: 4px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-4 {
    padding: 4px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-4 {
    padding: 4px 0;
  }
}
.ps-8 {
  padding: 8px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-8 {
    padding: 8px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-8 {
    padding: 8px 0;
  }
}
.ps-10 {
  padding: 10px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-10 {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-10 {
    padding: 10px 0;
  }
}
.ps-12 {
  padding: 12px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-12 {
    padding: 12px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-12 {
    padding: 12px 0;
  }
}
.ps-16 {
  padding: 16px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-16 {
    padding: 16px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-16 {
    padding: 16px 0;
  }
}
.ps-24 {
  padding: 24px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-24 {
    padding: 16px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-24 {
    padding: 16px 0;
  }
}
.ps-24 {
  padding: 24px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-24 {
    padding: 16px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-24 {
    padding: 16px 0;
  }
}
.ps-32 {
  padding: 32px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-32 {
    padding: 24px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-32 {
    padding: 24px 0;
  }
}
.ps-48 {
  padding: 48px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-48 {
    padding: 32px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-48 {
    padding: 24px 0;
  }
}
.ps-64 {
  padding: 64px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-64 {
    padding: 48px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-64 {
    padding: 24px 0;
  }
}
.ps-80 {
  padding: 80px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-80 {
    padding: 64px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-80 {
    padding: 32px 0;
  }
}
.ps-100 {
  padding: 100px 0;
}
@media only screen and (max-width: 1024px) {
  .ps-100 {
    padding: 68px 0;
  }
}
@media only screen and (max-width: 640px) {
  .ps-100 {
    padding: 36px 0;
  }
}
.mt-4 {
  margin-top: 4px;
}
@media only screen and (max-width: 1024px) {
  .mt-4 {
    margin-top: 4px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-4 {
    margin-top: 4px;
  }
}
.mt-8 {
  margin-top: 8px;
}
@media only screen and (max-width: 1024px) {
  .mt-8 {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-8 {
    margin-top: 8px;
  }
}
.mt-10 {
  margin-top: 10px;
}
@media only screen and (max-width: 1024px) {
  .mt-10 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-10 {
    margin-top: 10px;
  }
}
.mt-12 {
  margin-top: 12px;
}
@media only screen and (max-width: 1024px) {
  .mt-12 {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-12 {
    margin-top: 12px;
  }
}
.mt-16 {
  margin-top: 16px;
}
@media only screen and (max-width: 1024px) {
  .mt-16 {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-16 {
    margin-top: 16px;
  }
}
.mt-24 {
  margin-top: 24px;
}
@media only screen and (max-width: 1024px) {
  .mt-24 {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-24 {
    margin-top: 16px;
  }
}
.mt-24 {
  margin-top: 24px;
}
@media only screen and (max-width: 1024px) {
  .mt-24 {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-24 {
    margin-top: 16px;
  }
}
.mt-32 {
  margin-top: 32px;
}
@media only screen and (max-width: 1024px) {
  .mt-32 {
    margin-top: 24px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-32 {
    margin-top: 24px;
  }
}
.mt-48 {
  margin-top: 48px;
}
@media only screen and (max-width: 1024px) {
  .mt-48 {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-48 {
    margin-top: 24px;
  }
}
.mt-64 {
  margin-top: 64px;
}
@media only screen and (max-width: 1024px) {
  .mt-64 {
    margin-top: 48px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-64 {
    margin-top: 24px;
  }
}
.mt-80 {
  margin-top: 80px;
}
@media only screen and (max-width: 1024px) {
  .mt-80 {
    margin-top: 64px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-80 {
    margin-top: 32px;
  }
}
.mt-100 {
  margin-top: 100px;
}
@media only screen and (max-width: 1024px) {
  .mt-100 {
    margin-top: 68px;
  }
}
@media only screen and (max-width: 640px) {
  .mt-100 {
    margin-top: 36px;
  }
}
.mb-4 {
  margin-bottom: 4px;
}
@media only screen and (max-width: 1024px) {
  .mb-4 {
    margin-bottom: 4px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-4 {
    margin-bottom: 4px;
  }
}
.mb-8 {
  margin-bottom: 8px;
}
@media only screen and (max-width: 1024px) {
  .mb-8 {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-8 {
    margin-bottom: 8px;
  }
}
.mb-10 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
  .mb-10 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-10 {
    margin-bottom: 10px;
  }
}
.mb-12 {
  margin-bottom: 12px;
}
@media only screen and (max-width: 1024px) {
  .mb-12 {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-12 {
    margin-bottom: 12px;
  }
}
.mb-16 {
  margin-bottom: 16px;
}
@media only screen and (max-width: 1024px) {
  .mb-16 {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-16 {
    margin-bottom: 16px;
  }
}
.mb-24 {
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}
.mb-24 {
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}
.mb-32 {
  margin-bottom: 32px;
}
@media only screen and (max-width: 1024px) {
  .mb-32 {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-32 {
    margin-bottom: 24px;
  }
}
.mb-48 {
  margin-bottom: 48px;
}
@media only screen and (max-width: 1024px) {
  .mb-48 {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-48 {
    margin-bottom: 24px;
  }
}
.mb-64 {
  margin-bottom: 64px;
}
@media only screen and (max-width: 1024px) {
  .mb-64 {
    margin-bottom: 48px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-64 {
    margin-bottom: 24px;
  }
}
.mb-80 {
  margin-bottom: 80px;
}
@media only screen and (max-width: 1024px) {
  .mb-80 {
    margin-bottom: 64px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-80 {
    margin-bottom: 32px;
  }
}
.mb-100 {
  margin-bottom: 100px;
}
@media only screen and (max-width: 1024px) {
  .mb-100 {
    margin-bottom: 68px;
  }
}
@media only screen and (max-width: 640px) {
  .mb-100 {
    margin-bottom: 36px;
  }
}
.pt-4 {
  padding-top: 4px;
}
@media only screen and (max-width: 1024px) {
  .pt-4 {
    padding-top: 4px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-4 {
    padding-top: 4px;
  }
}
.pt-8 {
  padding-top: 8px;
}
@media only screen and (max-width: 1024px) {
  .pt-8 {
    padding-top: 8px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-8 {
    padding-top: 8px;
  }
}
.pt-10 {
  padding-top: 10px;
}
@media only screen and (max-width: 1024px) {
  .pt-10 {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-10 {
    padding-top: 10px;
  }
}
.pt-12 {
  padding-top: 12px;
}
@media only screen and (max-width: 1024px) {
  .pt-12 {
    padding-top: 12px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-12 {
    padding-top: 12px;
  }
}
.pt-16 {
  padding-top: 16px;
}
@media only screen and (max-width: 1024px) {
  .pt-16 {
    padding-top: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-16 {
    padding-top: 16px;
  }
}
.pt-24 {
  padding-top: 24px;
}
@media only screen and (max-width: 1024px) {
  .pt-24 {
    padding-top: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-24 {
    padding-top: 16px;
  }
}
.pt-24 {
  padding-top: 24px;
}
@media only screen and (max-width: 1024px) {
  .pt-24 {
    padding-top: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-24 {
    padding-top: 16px;
  }
}
.pt-32 {
  padding-top: 32px;
}
@media only screen and (max-width: 1024px) {
  .pt-32 {
    padding-top: 24px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-32 {
    padding-top: 24px;
  }
}
.pt-48 {
  padding-top: 48px;
}
@media only screen and (max-width: 1024px) {
  .pt-48 {
    padding-top: 32px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-48 {
    padding-top: 24px;
  }
}
.pt-64 {
  padding-top: 64px;
}
@media only screen and (max-width: 1024px) {
  .pt-64 {
    padding-top: 48px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-64 {
    padding-top: 24px;
  }
}
.pt-80 {
  padding-top: 80px;
}
@media only screen and (max-width: 1024px) {
  .pt-80 {
    padding-top: 64px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-80 {
    padding-top: 32px;
  }
}
.pt-100 {
  padding-top: 100px;
}
@media only screen and (max-width: 1024px) {
  .pt-100 {
    padding-top: 68px;
  }
}
@media only screen and (max-width: 640px) {
  .pt-100 {
    padding-top: 36px;
  }
}
.pb-4 {
  padding-bottom: 4px;
}
@media only screen and (max-width: 1024px) {
  .pb-4 {
    padding-bottom: 4px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-4 {
    padding-bottom: 4px;
  }
}
.pb-8 {
  padding-bottom: 8px;
}
@media only screen and (max-width: 1024px) {
  .pb-8 {
    padding-bottom: 8px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-8 {
    padding-bottom: 8px;
  }
}
.pb-10 {
  padding-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
  .pb-10 {
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-10 {
    padding-bottom: 10px;
  }
}
.pb-12 {
  padding-bottom: 12px;
}
@media only screen and (max-width: 1024px) {
  .pb-12 {
    padding-bottom: 12px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-12 {
    padding-bottom: 12px;
  }
}
.pb-16 {
  padding-bottom: 16px;
}
@media only screen and (max-width: 1024px) {
  .pb-16 {
    padding-bottom: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-16 {
    padding-bottom: 16px;
  }
}
.pb-24 {
  padding-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}
.pb-24 {
  padding-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}
.pb-32 {
  padding-bottom: 32px;
}
@media only screen and (max-width: 1024px) {
  .pb-32 {
    padding-bottom: 24px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-32 {
    padding-bottom: 24px;
  }
}
.pb-48 {
  padding-bottom: 48px;
}
@media only screen and (max-width: 1024px) {
  .pb-48 {
    padding-bottom: 32px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-48 {
    padding-bottom: 24px;
  }
}
.pb-64 {
  padding-bottom: 64px;
}
@media only screen and (max-width: 1024px) {
  .pb-64 {
    padding-bottom: 48px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-64 {
    padding-bottom: 24px;
  }
}
.pb-80 {
  padding-bottom: 80px;
}
@media only screen and (max-width: 1024px) {
  .pb-80 {
    padding-bottom: 64px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-80 {
    padding-bottom: 32px;
  }
}
.pb-100 {
  padding-bottom: 100px;
}
@media only screen and (max-width: 1024px) {
  .pb-100 {
    padding-bottom: 68px;
  }
}
@media only screen and (max-width: 640px) {
  .pb-100 {
    padding-bottom: 36px;
  }
}
.m-la {
  margin-left: auto;
}
.m-ra {
  margin-right: auto;
}
