@import '../variable/config/_config.styl'

calcExtendBoth(nameExtend,size1,size2,size3)
	{nameExtend} (size1 px) 0
	+below(1024px)
		{nameExtend} (size2 px) 0
	+below(640px)
		{nameExtend} (size3 px) 0

calcExtend(nameExtend,size1,size2,size3)
	{nameExtend} (size1 px)
	+below(1024px)
		{nameExtend} (size2 px)
	+below(640px)
		{nameExtend} (size3 px)

$listSize = (m p ms ps mt mb pt pb)

for listSizeItem in $listSize
	for listItem in $listExtend
		.{listSizeItem}-{listItem[0]}
			if listSizeItem == ms
				calcExtendBoth('margin',listItem[0],listItem[1],listItem[2])
			if listSizeItem == ps
				calcExtendBoth('padding',listItem[0],listItem[1],listItem[2])
			if listSizeItem == m
				calcExtend('margin',listItem[0],listItem[1],listItem[2])
			if listSizeItem == p
				calcExtend('padding',listItem[0],listItem[1],listItem[2])
			if listSizeItem == mt
				calcExtend('margin-top',listItem[0],listItem[1],listItem[2])
			if listSizeItem == mb
				calcExtend('margin-bottom',listItem[0],listItem[1],listItem[2])
			if listSizeItem == pt
				calcExtend('padding-top',listItem[0],listItem[1],listItem[2])
			if listSizeItem == pb
				calcExtend('padding-bottom',listItem[0],listItem[1],listItem[2])

//simple
.m-la
	margin-left auto

.m-ra
	margin-right auto