@import '../variable/config/_config.styl'

//START GRID
$gridList = (1 2 3 4 5 6)
$windowSize = (xl lg md sm)

for $gridListItem in $gridList
	.g-{$gridListItem}
		grid-template-columns: repeat($gridListItem, 1fr)

for $windowSizeItem in $windowSize
	for $gridListItem in $gridList
		.{$windowSizeItem}__g-{$gridListItem}
			if($windowSizeItem == xl)
				+below(1280px)
					grid-template-columns: repeat($gridListItem, 1fr)
			if($windowSizeItem == lg)
				+below(1024px)
					grid-template-columns: repeat($gridListItem, 1fr)
			if($windowSizeItem == md)
				+below(768px)
					grid-template-columns: repeat($gridListItem, 1fr)
			if($windowSizeItem == sm)
				+below(640px)
					grid-template-columns: repeat($gridListItem, 1fr)

.row
	display: grid
	grid-template-columns: repeat(12, 1fr)

for num in (1..12)
	for numEl in (1..12)
		.g-{num}-{numEl}
			grid-column num / numEl+1

for $windowSizeItem in $windowSize
	for num in (1..12)
		for numEl in (1..12)
			.{$windowSizeItem}__g-{num}-{numEl}
				if($windowSizeItem == xl)
					+below(1280px)
							grid-column num / numEl+1
				if($windowSizeItem == lg)
					+below(1024px)
							grid-column num / numEl+1
				if($windowSizeItem == md)
					+below(768px)
							grid-column num / numEl+1
				if($windowSizeItem == sm)
					+below(640px)
							grid-column num / numEl+1

// END GRID

// calc flex-wrap media
for $windowSizeItem in $windowSize
	.{$windowSizeItem}__fw
		flex-wrap wrap-test
// calc flex-wrap media === end

// calc gap
calcGap(size1,size2,size3)
	grid-gap (size1 px)
	+below(1024px)
		grid-gap (size2 px)
	+below(640px)
		grid-gap (size3 px)

for $gridGapItem in $gridGap
	.gap-{$gridGapItem}
		calcGap($gridGapItem[0],$gridGapItem[1],$gridGapItem[2])
// calc gap === end


for itemWidth in (1..20)
	.w{itemWidth*5}
		width (itemWidth*5) %

for $windowSizeItem in $windowSize
	for itemWidth in (1..20)
		.{$windowSizeItem}__w{itemWidth*5}
			if($windowSizeItem == xl)
				+below(1280px)
					width (itemWidth*5) %
			if($windowSizeItem == lg)
				+below(1024px)
					width (itemWidth*5) %
			if($windowSizeItem == md)
				+below(768px)
					width (itemWidth*5) %
			if($windowSizeItem == sm)
				+below(640px)
					width (itemWidth*5) %