mixin modal()

	// init
	.modal-layer
		.modal-filter
		.modal-wrap
			.modal(data-modal="order")
				.modal-content
					.modal-close.js-modal-close
						+icon("close","icon")
					.type--lg.type--w700.mb-16 Оставьте заявку
					.type--main.mb-24 Обращаетесь к нам впервые? <br> Оформите обращение с помощью этой формы, мы перезвоним Вам и проконсультируем по любому Вашему вопросу совершенно бесплатно!
					form.validate-form( action="javascript:void(null);")
						.g.g-1.gap-16
							.input-row
								input(type="text" placeholder="Ваше имя" class="input")
							.input-row
								input(type="text" placeholder="Телефон" class="input")
							.mb-24
								+checkbox('Я ознакомился с <a href="#">политикой конфиденциальности</a>, <a href="#"> публичной офертой</a> и даю согласие на обработку моих персональных данных')
						input(type="submit" value="Отправить заявку").btn.btn--md.btn--mark.btn--full

	//.js-modal Открыть модальное окно

